.button {
	@extend .transition-active;
	display: block;
	cursor: pointer;
	line-height: 41px;
	padding: 0;
	font-size: 14px;
	text-align: center;
	border: 1px solid #cfcfcf;
	border-radius: 3px;
	background-color: #ffffff;
	height: 40px;
	width: 91px;
	transition: filter 0.3s;

	&--submit {
		background-color: #3366ff;
		color: white;
	}

	&:hover {
		filter: brightness(0.8);
	}

	&:active {
		background-color: rgba(#000, 0.25);
		border-color: rgba(#000, 0.25);

		.button__chevron-right {
			transform: translateX(1px);
			transition: none;
		}
	}

	&__chevron-right {
		margin-left: 5px;
		transition: transform 0.1s ease-out,
			fill $default-transition-duration $default-transition-function;
	}
}
